$font-size: 15px;

$note-margin: 3em;

$black: black;
$grey: lighten($black, 50%);
$white: white;
$blue: #000099;
$magenta: #660099;
$red: #d04000;

* {
  line-height: 1.5em;   
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: $white;
  color: $black;
  font-size: $font-size;
  margin: 3.5em 0;
  padding: 0;
  max-width: 1140px;
  min-width: 820px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: $blue;
  border-color: rgba($blue, 0.33);
  &:visited {
    color: $magenta;
    border-color: rgba($magenta, 0.33);
  }
  &:hover {
    color: $red;
    border-color: rgba($red, 0.33);
  }
}

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0.5em;
  a {
    color: $black;
    border-color: rgba($black, 0.33);
    &:visited {
      color: $black;
      border-color: rgba($black, 0.33);
    }
    &:hover {
      color: $red;
      border-color: rgba($red, 0.33);
    }
  }
}

h1 {font-size: 2em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.1em;}

code, pre code {
  font-size: 0.9em; 
}  

pre code {
  display: block;
  padding: 1em;
  margin: 1em;
  //max-width: 600px;
  background-color: lighten($grey, 40%);
  overflow: auto;
  line-height: 1.2em;
}

p {
  max-width: 800px;
  margin: 0 0 1em 0;
}

hr {
  width: 2em;
  margin: 2em 0;
}

ul li {
  list-style-type: lower-greek;
}

blockquote {
  padding-left: 1em;
  border-left: 1px solid $grey;
  font-size: 0.9em;
  max-width: 700px;
}

.small {
  font-size: 0.7em;
}

.shaded {
  color: grey;
}

.header, .content, .footer {
  width: 80%;
  margin: 0 auto;
}

.header {
  margin-bottom: $note-margin;
  h1 {
    font-size: 1.5em;
    margin: 1em 0 0.4em 0;
  }
  h1, h1 a {
    line-height: 1em;
  }
  h1 a:visited {
    color: $black;
    border-color: rgba($black, 0.33);
  }
  .description {
    width: 60%;
  }
}

.menu {
  margin-top: 1em;
}

.note {
  margin-bottom: $note-margin;
  h1 {
    margin-bottom: 0.1em;
  }
}

.note .date {
  letter-spacing: .12em;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  color: lighten($black, 25%)
}

.footer {
  margin-top: 3*$note-margin;
  margin-bottom: $note-margin;
  p {
    line-height: 2em;
    margin: 0;
    padding: 0;
  }
  p.engine {
    color: $grey;
    a {
      color: $grey;
      border-color: rgba($grey, 0.3);
      &:hover {
        color: $grey;
        border-color: rgba($grey, 0.3);
      }
    }
  }
}

.nav-next, .nav-prev {
  background-color: #F0F0C0;
  display: inline-block;
  border-radius: 4px;
  padding: 6px;
}

.nav-post-next, .nav-post-prev {
  display: inline-block;
  padding: 6px;
}

.nav-post-next {
  float: left;
  margin-left: 5em;
}

.nav-post-prev {
  float: left;
}

a.edit {
  border: none;
  color: $grey;
  font-size: 0.5em;
}

a.rss {
  color: #803000;
  border: 1px solid;
  padding: 1px;
  border-radius: 3px;
  font: {
    size: 0.8em;
    style: normal;
    weight: bold;
    spacing: 0.15em;
  }
}

ul.tags {
  list-style-type: none;
  li {
    display: inline-block;
    float: left;
    margin-left: 1em;
    padding: 3px;
  }
}

