* {
  line-height: 1.5em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  font-family: Helvetica, Arial, sans-serif;
  background: white;
  color: black;
  font-size: 15px;
  margin: 3.5em auto;
  padding: 0;
  max-width: 1140px;
  min-width: 820px; }

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #000099;
  border-color: rgba(0, 0, 153, 0.33); }
  a:visited {
    color: #660099;
    border-color: rgba(102, 0, 153, 0.33); }
  a:hover {
    color: #d04000;
    border-color: rgba(208, 64, 0, 0.33); }

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0.5em; }
  h1 a, h2 a, h3 a, h4 a {
    color: black;
    border-color: rgba(0, 0, 0, 0.33); }
    h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited {
      color: black;
      border-color: rgba(0, 0, 0, 0.33); }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
      color: #d04000;
      border-color: rgba(208, 64, 0, 0.33); }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.1em; }

code, pre code {
  font-size: 0.9em; }

code {
  padding: 0.1em;
  border-radius: 2px; }

pre code {
  display: block;
  padding: 1em;
  margin: 1em;
  border: 1px solid gray;
  background-color: #e6e6e6;
  overflow: auto;
  line-height: 1.2em;
  width: 80%; }

p {
  max-width: 800px;
  margin: 0 0 1em 0; }

hr {
  width: 2em;
  margin: 2em 0; }

ul li {
  list-style-type: lower-greek;
  margin: 1em; }

blockquote {
  padding-left: 1em;
  border-left: 1px solid gray;
  font-size: 0.9em;
  max-width: 700px; }

.small {
  font-size: 0.7em; }

.shaded {
  color: grey; }

.header, .content, .footer {
  width: 80%;
  margin: 0 auto; }

.header {
  margin-bottom: 3em; }
  .header h1 {
    font-size: 1.5em;
    margin: 1em 0 0.4em 0; }
  .header h1, .header h1 a {
    line-height: 1em; }
  .header h1 a:visited {
    color: black;
    border-color: rgba(0, 0, 0, 0.33); }
  .header .description {
    width: 60%; }

.menu {
  margin-top: 1em; }

.note {
  margin-bottom: 3em; }
  .note h1 {
    margin-bottom: 0.1em; }

.note .date {
  letter-spacing: .12em;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  color: #404040; }

.footer {
  margin-top: 9em;
  margin-bottom: 3em; }
  .footer p {
    line-height: 2em;
    margin: 0;
    padding: 0; }
  .footer p.engine {
    color: gray; }
    .footer p.engine a {
      color: gray;
      border-color: rgba(128, 128, 128, 0.3); }
      .footer p.engine a:hover {
        color: gray;
        border-color: rgba(128, 128, 128, 0.3); }

.nav-next, .nav-prev {
  background-color: #F0F0C0;
  display: inline-block;
  border-radius: 4px;
  padding: 6px; }

.nav-post-next, .nav-post-prev {
  display: inline-block;
  padding: 6px; }

.nav-post-next {
  float: left;
  margin-left: 5em; }

.nav-post-prev {
  float: left; }

a.edit {
  border: none;
  color: gray;
  font-size: 0.5em; }

a.rss {
  color: #803000;
  border: 1px solid;
  padding: 1px;
  border-radius: 3px;
  font-size: 0.8em;
  font-style: normal;
  font-weight: bold;
  font-spacing: 0.15em; }

ul.tags {
  list-style-type: none; }
  ul.tags li {
    display: inline-block;
    float: left;
    margin-left: 1em;
    padding: 3px; }

.category {
  display: block;
  float: left;
  width: 30%;
  margin: 1em; }
  .category h2 {
    text-align: center; }

.clear {
  clear: both; }
