---

layout: default  
title: Разделы  

---

<h1>{{ page.title }}</h1>

{% assign categories = 'oracle, favourites, informatica' %}

{% for category in site.categories %}
  {% assign name = category | first %}
  <h1 id="{{ name }}">
  {% if categories contains name %}
      <a href="{{ site.url }}/{{ name }}.html">{{ name | capitalize }}</a>
  {% else %} 
    {{ name | capitalize }}
  {% endif %}
  </h1>
  <ul>
  {% for posts in category offset:1 %}
    {% for post in posts %}
      <li><a href="{{ site.url | append: post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  {% endfor %}
  </ul>
{% endfor %}
