This is a text
{% comment %}
{% page.date | date: '%d' %}
{% page.date | date('%d') | plus 0 %} 
{% case page.date | date('%m') | plus 0 %} 
  {% when 1 %}
    января
  {% when 2 %}
    февраля
  {% when 3 %}
    марта
  {% when 4 %}
    апреля
  {% when 5 %}
    мая
  {% when 6 %}
    июня
  {% when 7 %}
    июля
  {% when 8 %}
    августа
  {% when 9 %}
    сентября
  {% when 10 %}
    октября
  {% when 11 %}
    ноября
  {% when 12 %}
    декабря
{% endcase %} 
{% if page.date | date('%Y') != 'now' | date('%Y') %}
  {% page.date | date('%Y') %}
{% endif %}
    
{% endcomment %}
