<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <meta name="title" content="{{ page.title }}">
  <meta name="description" content="{{ site.author.name }}">

  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:title" content="{{ page.title }}">
  {% if page.image %}
  <meta property="og:image" content="{{ page.image }}">
  {% endif %}
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="{{ site.author.name }}">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/blog-feed.xml">
  <link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|PT+Sans:400,700,400italic|Roboto:100,300|Roboto+Slab:300,400&amp;subset=latin,cyrillic" rel="stylesheet">
  <link href="{{ site.baseurl }}/public/css/main.css" rel="stylesheet">

  <!-- CSS -->
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Custom -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <link href="http://fotorama.s3.amazonaws.com/4.4.9/fotorama.css" rel="stylesheet">
  <script src="http://fotorama.s3.amazonaws.com/4.4.9/fotorama.js"></script>
  <script src="{{ site.baseurl }}/public/js/dug.js"></script>
  <script src="{{ site.baseurl }}/public/js/application.js"></script>
</head>
