<a href="{{ site.url }}/categories.html">Разделы</a>
&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="{{ site.url }}/travel.html">Путешествия</a>
&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="{{ site.url }}/favourites.html">Избранное</a>
&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="http://twitter.com/{{ site.twitter }}">Твиттер</a>
&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="http://log.iseetheline.ru/">Тамблер</a>
&nbsp;&nbsp;·&nbsp;&nbsp;
<a href="{{ site.url }}/contacts.html">Контакты</a>
&nbsp;&nbsp;·&nbsp;&nbsp;
<a class="rss" href="{{ site.feedburner_url }}">RSS</a>

