{% if post %}
  {% assign this = post %}
  {% assign type = 'post' %}
  {% assign text = this.content %}
{% else %}
  {% assign this = page %}
  {% assign type = 'page' %}
  {% assign text = content %}
{% endif %}

{% if include.text %}
  {% assign text = include.text %}
{% endif %}

<article class="entry">
  <header class="entry-header">
    <h1 class="entry-title">
      <a href="{{ site.baseurl }}{{ this.url }}">{{ this.title }}</a>
    </h1>
  </header>

  <div class="entry-body content-area">
    {% if this.image %}
      <p><img src="{{ this.image }}" alt="image"></p>
    {% endif %}

    {{ text }}

    {% if include.text and this.excerpt != this.content %}
      <a href="{{ site.baseurl}}{{ this.url }}" class="read-link">Читать</a>
    {% endif %}
  </div>

  {% if this.date and include.text == null %}
  <footer class="entry-footer">
    <time class="entry-timestamp">{{ this.date | date_to_string }}</time>
  </footer>
  {% endif %}
</article>
