{% if post %}
  {% assign this = post %}
  {% assign type = 'post' %}
  {% assign this_content = post.content %}
{% else %}
  {% assign this = page %}
  {% assign type = 'page' %}
  {% assign this_content = content %}
{% endif %}

<div class="note">
  {% if type == 'page' %}
    <h1>{{ this.title }}</h1>
  {% else %}
    <h1><a href="{{ this.url }}">{{ this.title }}</a></h1>
  {% endif %}  
  <p class="date">{% include date.html %}</p>
  <div class="text">
    {{ this_content }}
  </div>
</div>
