{% if post %}
  {% assign this = post %}
  {% assign type = 'post' %}
  {% assign text = this.content %}
  {% assign description = this.description %}
{% else %}
  {% assign this = page %}
  {% assign type = 'page' %}
  {% assign text = content %}
  {% assign description = this.description %}
{% endif %}

<div class="note">
  <h1>
  {% if type == 'post' %}
    <a href="{{ this.url }}">{{ this.title }}</a>
  {% else %}
    {{ this.title }}
  {% endif %}
  </h1>
  <p class="date">{% include date.html %}</p>
  <div class="text">
  {% if type == 'post' and description %}
    {{ description }}
    <p>
      <a href="{{ this.url }}">{% if this.lang == 'ru' %}Далее...{% else %}Read more...{% endif %}</a>
    </p>
  {% else %}
    {{ text }}
  {% endif %}
  </div>
</div>
