body{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 18px;
    line-height: 1.5em;
    margin:0px auto;
    max-width:650px;
    color:#444;
    padding:0 10px}
h1,h2,h3 {
    font-weight: normal;
    letter-spacing: -0.02em;
}
h2,h3 {
    margin-top: 1.25em;
    margin-bottom: -0.5em;
}
code{
    font-size:14px;
    line-height:1
}
blockquote{
    border-left: 1px solid grey;
    padding-left: 1em;
    margin-left: -1em;
}
.highlight {
    background: #ddd;
    padding: 1px 20px;
    margin-left: -20px;
    margin-bottom: 20px;
}
.details {
    display: block;
    font-style: italic;
    margin-top: -1em;
    font-size: smaller;
}
.index ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.index ul li {
    margin-bottom: 1em;
}
