
{% assign div_id = 'tags-' + include.tags | remove: ',' %}
<div id="{{ div_id }}"></div>

<script>
    dug({
      endpoint: 'https://api.flickr.com/services/rest/?method=flickr.photos.search&api_key={{site.flickr.key}}&format=json&user_id={{ site.flickr.user_id }}&tags={{ include.tags }}',
      callbackParam: 'jsoncallback',
      target: '{{ div_id }}',
      success: function() {
                 $('#{{ div_id }}').fotorama(fotorama_option('{{ include.template }}'));
               },
      template: dug_template('{{ include.template }}', '{{ include.size }}', 'photos')
    });
</script>

